@import "bootstrap";

#logo {
  float: left;
  color: #fff;
  font-size: 1.5em;
  padding-top: 0.5em;
  letter-spacing: -1px;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
}

#main {
  margin-top: 80px;
}

#footer {
  clear: both;
  margin-top: 70px;
  padding-top: 10px;
  border-top: 1px solid #999;
  ul {
    list-style: none;
    li {
      float: left;
      padding: 0 15px;
      border-right: 1px solid #999;
      &:last-child {
        border: none;
      }
      a {
        color: #333;
        &:hover {
          color: #999;
        }
      }
    }
  }
}

#notification {
  text-align: center;
}

#user {
  ul {
    list-style: none;
  }
}